@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="innerHeading">
    <div class="container">
        <h1>ثبت نام</h1>
    </div>
</div>

<div class="innercontent">
    <div class="container">
        <div class="card mx-auto loginWrp wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="card-body">
                <h4 class="card-title mb-4">ثبت نام</h4>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <a href="#" class="btn btn-facebook btn-block mb-2 text-white"> <i class="fab fa-facebook-f"></i> &nbsp; ورود با فیسبوک</a> <a href="#" class="btn btn-primary btn-block google_plus mb-4"> <i class="fab fa-google-plus-g"></i> &nbsp;
                        ورود با گوگل</a>
                    <div class="form-group">
                        <input class="form-control" asp-for="Input.FirstName" placeholder="نام " type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="Input.LastName" placeholder=" نام خانوادگی" type="text">
                    </div>
                    <!-- form-group// -->
          
                    <div class="form-group">
                        <input class="form-control"  asp-for="Input.Email" placeholder="آدرس ایمیل" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control"  asp-for="Input.PhoneNumber" placeholder="تلفن همراه" type="text">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">
                        <input class="form-control"  asp-for="Input.Password" placeholder="کلمه عبور" type="password">
                    </div>
                    <!-- form-group// -->
          
                    <div class="form-group">
                        <input class="form-control"  asp-for="Input.ConfirmPassword" placeholder="تکرار کلمه عبور" type="password">
                    </div>
                    <!-- form-group// -->
          
                    <div class="form-group">
                        <button type="submit" class="btn login_btn btn-primary btn-block"> ثبت نام </button>
                    </div>
                    <!-- form-group// -->
                </form>
            </div>
            <!-- card-body.// --> 
        </div>
        <p class="text-center mt-4">قبلاً ثبت نام کردید؟ <a href="#">اکنون وارد شوید</a></p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
